@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #00793c;
    --first-color-light: #afa5d9;
    --white-color: #ffffff;
    --grey-color: #d3d3d3;
    --background-color: rgb(241, 241, 241);
    --body-font: "Nunito", sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}

* {
    font-family: "Poppins", sans-serif;
}
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    position: relative;
    /* margin: var(--header-height) 0 0 0; */
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: 0.5s;
    background-color: var(--background-color);
    font-size: 16px;
}

/* html,
body {
    height: 100%;
}

.container-center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00793c;
} */

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: 0.5s;
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.header_img img {
    width: 40px;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: 0.5rem 1rem 0 0;
    transition: 0.5s;
    z-index: var(--z-fixed);
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav_logo {
    margin-bottom: 2rem;
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700;
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: 0.3s;
}

.nav_link:hover {
    color: var(--white-color);
}

.nav_icon {
    font-size: 1.25rem;
}

.show-side {
    left: 0;
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
}

.active {
    color: var(--white-color);
}

.active::before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
}

.height-100 {
    height: 100vh;
}

@media screen and (min-width: 768px) {
    /* body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    } */

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }

    .header_img {
        width: 40px;
        height: 40px;
    }

    .header_img img {
        width: 45px;
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }

    .show-side {
        width: calc(var(--nav-width) + 156px);
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px);
    }

    body {
        font-size: 14px;
    }

    /* Ukuran font untuk heading pada mobile */
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    /* Ukuran font untuk paragraf pada mobile */
    p {
        font-size: 14px;
    }
}

/* maps */
#map {
    position: sticky;
    min-height: 280px;
    max-height: 600px;
}

.custom-popup {
    width: 300px; /* Sesuaikan lebar popup */
    max-width: 100%; /* Agar popup tidak melebihi lebar tampilan */
}
.title-map {
    padding: 0;
    margin: 0;
}
.title-map a {
    color: var(--first-color);
    opacity: 0.8;
    margin: 0;
}

.title-map a:hover {
    color: var(--first-color);
    opacity: 1;
    margin: 0;
}

/* Atur ukuran gambar profil */
.custom-popup img {
    width: 100%;
    height: auto;
}

.leaflet-top.leaflet-right .leaflet-control-attribution {
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 5px;
}

/* login image dan register */
.content_login {
    border-radius: 15px;
    overflow: hidden;
    max-height: 480px;
}
.content_register {
    border-radius: 15px;
    max-height: 750px;
    overflow: hidden;
}

.image-login {
    background: var(--grey-color);
    width: 100%;
    overflow: hidden;
}
.image-login img {
    width: 100%;
    transform: scale(1.2);
    margin-top: -200px;
}

/* .container {
    max-width: 960px;
    margin: 30px auto;
    padding: 20px;
} */

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }

    body {
        font-size: 14px;
    }

    /* Ukuran font untuk heading pada mobile */
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    /* Ukuran font untuk paragraf pada mobile */
    p {
        font-size: 14px;
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }

    body {
        font-size: 14px;
    }

    /* Ukuran font untuk heading pada mobile */
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    /* Ukuran font untuk paragraf pada mobile */
    p {
        font-size: 14px;
    }
}
.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.avatar-upload {
    position: relative;
    max-width: 140px;
    margin: auto auto 20px auto;
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
    content: "\f303";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #757575;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.avatar-upload .avatar-preview {
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container2 .btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
#image {
    display: block;
    /* This rule is very important, please don't ignore this */
    max-width: 100%;
}

.crop-content {
    width: 100%;

    overflow: hidden;
}
/* cropper */
.crop-body {
    max-width: 100%;

    overflow: hidden;
}

.crop-body .image-canvas {
    max-width: 100%;
    max-height: 300px;
    overflow: hidden;
}

.modal.show {
    width: 100%;
}
.modal backdrop {
    width: 100% !important;
}
